#answer {
  display: none;
  text-align: center;
}


body {
  font-family: futura;
}


h1 {
  font-size: 50px;
  text-align: center;
  color: #69C3E3;
}

p {
  font-size: 20px;
  color: #32B243;
  text-align: center;
}

h2 {
  color: #E8567E;
}

label {
  font: normal 18px futura;
}

.container {
  background-color: white;
  padding: 50px;
}
img {
  height: 300px;
  width: 100%;
}

.radio {
  text-align: center;
}

.submit-button {
  text-align: center;
}

#villain-image {
  height: auto;
  width: 50%;
}
